table {
    width: 100% !important;
    padding: 1px;
}
ul{
	padding-top: 10% !important;
	padding-bottom: 5% !important;
}
tr: nth-child(even) {
    background: #ffffff;
}
div.hdr-subtext {
    font-size: x-small;
}
div.ftr-smtext {
    font-size: x-small;
}
div.local-Station-hdr {
	margin-top: 20px;
	margin-bottom: 5px;
} 

.ui-loader {
    display: none !important;
}

[data-role=footer] {
    bottom: 0;

}
[data-role=header] {
    top: 0;
}
.app-header{
	min-height: 3em;
	display: fixed;
	margin-top: 1.3em;
}
.hdr-left-margin{
	padding-left: 3%;
	width: 97%;
}
.app-main{
	display: list-item !important;
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
}

.ui-listview .ui-li-static {
	padding: .4em .5em !important;
}

.ui-listview .ui-li-static, 
.ui-listview .ui-li-divider, 
.ui-listview li a.ui-btn {
	padding: .4em .5em !important;
}
